#bilet{
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, 0.7)),url(../img/Bilet.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
    padding: 10px;
    position: relative;
}

#bilet h1{
    color: aliceblue;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 35px;
    background: rgba(46, 76, 109, 0.3);
    padding: 15px;
    border-radius: 10px;
}

#bilet-b{
    padding: 10px;
    text-align: center;
    color: aliceblue;
}



#nasıl-bilet-alınır{ 
    padding: 10px;
    text-align: center;
    color: aliceblue;
}


.section-title {
    text-align: center;
    margin-bottom: 40px;
    color: aliceblue;
    font-size: 30px;
}

.icon-box a button[type="submit"] {
    cursor: pointer;
    width: 30%;
    border: none;
    background: black;
    color: aliceblue;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    border: aliceblue solid 2px;
}

.icon-box a button[type="submit"]:hover {
    background: aliceblue;
    color: black;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    border: black solid 2px;
}

.icon-box h3 {
    color: aliceblue;
    font-size: 26px;
}

.icon-box h2{
    color: aliceblue;
    font-size: 36px;
}

